<div class = "centerFlex">
  <div>
    <h4 > Ваша короткая ссылка:  </h4>
    <div style="text-align: center;"><p id="short-url"><%= @short_url %></p></div>
  </div>
</div>

<div class = "centerFlex">
  <div>
    <button class="btn btn-primary" onclick="copyToClipboard('short-url')">Скопировать</button>
  </div>
</div>
