<p>Hello world!</p>

<p>Full url: <a href=<%= @url.protocol + @url.domain_path %>><%= @url.protocol + @url.domain_path %></a></p>
<p>Redirected <%=@url.redirect_count %> times using key <%= @url.key %></p>